// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  border : 1px solid black;
  display : block;
  font-varient : small-caps;
}
tr{
  border- : 1px solid black;
}
td{
  padding-left : 30px;
}
